* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}
body {
        font-family: sans-serif;
}

nav {
        background-color: #222;
        padding: 5px 20px; 
}

.menu {
        list-style-type: none;
}

.menu a{ 
        color: white;
        text-decoration: none;
}
a:hover{
        text-decoration: underline;
}
.menu li {
        font-size: 16px;
        padding: 15px 5px;
}

.menu li a{
        display: block;
}

.logo a{
        font-size: 20px;
}

.button.secondary {
        border-bottom: 1px #444 solid ;
}


/* Mobile Menu */
.menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}


.toggle {

}

.bars {
        background: #999;
        display: inline-block;
        height: 2px;
        position: relative;
        width: 18px;
}

.bars::before, .bars::after {
        background: #999;
        content: "";
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 18px;
}

.bars::after{
        top: 5px;
}
.bars::before{
        top: -5px
}